.container {
    padding: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .btn-add {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-add:hover {
    background-color: darkgreen;
  }
  
  .btn-dash {
    background-color: blue;
    color: white;
    margin-right: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-dash:hover {
    background-color: darkblue;
  }

  .imagez{
    width: 200px;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .btn-edit {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-edit:hover {
    background-color: darkblue;
  }
  
  .btn-delete {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-delete:hover {
    background-color: darkred;
  }  